<div class="contenido">
    <mat-tab-group mat-stretch-tabs >
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">add_task</mat-icon>
            Crear Producto
          </ng-template>
          <mat-card class="formularioInventario">
            <mat-card-content [formGroup]="ProductForm">
                <mat-form-field appearance="standard" style="width: 100%;" >
                    <mat-label>Nombre</mat-label>
                    <input matInput type="text" formControlName="nombre">
                  </mat-form-field>
                  <mat-form-field appearance="standard" style="width: 100%;">
                    <mat-label>Selecciona: </mat-label>
                    <mat-select formControlName="tipo" (selectionChange)="value($event)" >
                      <mat-option value="platos">plato</mat-option>
                      <mat-option value="bebidas">bebida</mat-option>
                      <mat-option value="combos">combo</mat-option>
                      <mat-option value="porciones">porcion</mat-option>
                      <mat-option value="mercaderia">mercaderia</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <cdk-virtual-scroll-viewport *ngIf="ProductForm.value.tipo === 'combos'" 
                  itemSize="10" class="contenedor mat-elevation-z2">
                  <mat-label class="margen">Seleccione producto: </mat-label>
                  <mat-checkbox  *ngFor="let producto of ComboInventario"
                  (change)="valueChange($event)" [value]="producto.id" class="margen">
                       {{ producto.productoId.nombre }}
                  </mat-checkbox> 
                  </cdk-virtual-scroll-viewport>
                  <mat-form-field appearance="standard" style="width: 100%;" >
                    <mat-label>Precio </mat-label>
                    <input matInput type="number" formControlName="precio">
                  </mat-form-field>
                  <mat-form-field appearance="standard" style="width: 100%;" >
                    <mat-label>Presa </mat-label>
                    <input matInput type="number" formControlName="presa">
                  </mat-form-field>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button (click)="CrearProduct()" [disabled]="!ProductForm.valid" 
                mat-raised-button color="warn" style="width: 100%; text-align: center;" >
                    Crear
                  </button>
              </mat-card-actions>
          </mat-card>
        </mat-tab>
      
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">edit</mat-icon>
            Editar y Eliminar
            <mat-icon class="example-tab-icon">delete_forever</mat-icon>
          </ng-template>
          <table mat-table [dataSource]="ListaInventario"  class="container">

                <ng-container matColumnDef="Nombre">
                  <th mat-header-cell *matHeaderCellDef> Nombre </th>
                  <td mat-cell *matCellDef="let element "> {{element.productoId.nombre}} </td>
                </ng-container>

                <ng-container matColumnDef="Cantidad">
                  <th mat-header-cell *matHeaderCellDef> cantidad </th>
                  <td mat-cell *matCellDef="let element "> {{element.cantidadExist}} </td>
                </ng-container>

                <ng-container matColumnDef="Editar">
                  <th mat-header-cell *matHeaderCellDef>  </th>
                  <td mat-cell *matCellDef="let element; index as i"> 
                    <button mat-mini-fab color="warn" (click)="Editar(i)" >
                      <mat-icon>
                        edit
                      </mat-icon>
                    </button>  
                  </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="Eliminar">
                  <th mat-header-cell *matHeaderCellDef>  </th>
                  <td mat-cell *matCellDef="let element; index as i"> 
                    <button  mat-mini-fab color="warn" (click)="Eliminar(i)" >
                      <mat-icon>
                        delete
                      </mat-icon>
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
               <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
               <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No hay datos encontrados: "{{filtro}}"</td>
              </tr>
              </table>
        </mat-tab>
      
      </mat-tab-group>
</div>